* {
  background-color: black;
  color: white;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

input {
  outline: none;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  border: none;
  font-size: 20px;
  text-align: center;
}
button {
  outline: none;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

span,
i {
  background-color: transparent;
}

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  z-index: 2;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
.navbar__icon i {
  padding: 0 3px;
}
/* img */
.gan {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.img__farm {
  max-width: 100%;
  margin-top: 100px;
}
/* bar */
#bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-top: 50px;
}
.chat__story-bar {
  background-color: #303030;
  margin: 3px;
  height: 3px;
  width: 50%;
}
.story__bar-value {
  background-color: white;
  height: 3px;
  width: 27%;
  opacity: 1;
}
/* chat-story-profile */
#chat__story-profile {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat__stoprofile-left {
  display: flex;
  align-items: center;
}
.chat__story-titme {
  padding-left: 10px;
  color: lightgray;
}
.chat__story-title {
  font-size: 20px;
  margin-left: 15px;
  color: white;
}
.chat__stoprofile-right i {
  font-size: 25px;
  padding: 0 7px;
  color: lightgray;
}
/* emo */
#emo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: transparent;
}
.emo__list {
  padding: 5px 20px;
  background-color: #303030;
  border-radius: 20px;
  margin: 0 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.emo__list i {
  font-size: 27px;
  color: black;
  padding-left: 8px;
}

/* bottom */
#chats__story-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 10px 0;
}
.chats__bottom-left i {
  padding: 7px;
  margin-left: 10px;
  background-color: #303030;
  border-radius: 50%;
}
.chats__bottom-right.one i {
  background-color: #2c73da;
  padding: 7px;
  border-radius: 50%;
}
.chats__bottom-right.two i {
  background-color: tomato;
  padding: 7px;
  border-radius: 50%;
}
.chats__bottom-right.three i {
  background-color: gold;
  padding: 7px;
  border-radius: 50%;
}
#chats__story-bottom input {
  padding: 7px 13px;
  border-radius: 13px;
  background-color: #303030;
  text-align: left;
}
